.env
/.venv
__pycache__/

./__pycache__/

preprocessed_frames/

vlm_finetuned_final/
video_mae_finetuned/
vlm_finetuned/
video_mae_finetuned_final/


*.bin
*.pth
*.ckpt
*.safetensors
/results
/checkpoints
/datasets
archived_models
/videomae_base

generate_benchmark_chart.py
agents.md
